<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_14a2231b5d5190061b1fb7f069f21d13 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_14a2231b5d5190061b1fb7f069f21d13" ></div>
        
</body>
<script>
    
    
            var map_14a2231b5d5190061b1fb7f069f21d13 = L.map(
                "map_14a2231b5d5190061b1fb7f069f21d13",
                {
                    center: [23.8728568, 90.3984184],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8a23e7792b97ad71994020a6d8e3328f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_14a2231b5d5190061b1fb7f069f21d13);
        
    
            var marker_4cf9031393d1774956406e509bd0e201 = L.marker(
                [23.8728568, 90.3984184],
                {}
            ).addTo(map_14a2231b5d5190061b1fb7f069f21d13);
        
    
            var icon_42bc5905cd537cdf6bfb6f5305dc9491 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "gift", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4cf9031393d1774956406e509bd0e201.setIcon(icon_42bc5905cd537cdf6bfb6f5305dc9491);
        
    
        var popup_ab8263f5f7a4967138f0b3e2098edf8c = L.popup({"maxWidth": "100%"});

        
            
                var html_9c2b0d6c8b7884363316feab93b8a4c1 = $(`<div id="html_9c2b0d6c8b7884363316feab93b8a4c1" style="width: 100.0%; height: 100.0%;">Uttara Branch</div>`)[0];
                popup_ab8263f5f7a4967138f0b3e2098edf8c.setContent(html_9c2b0d6c8b7884363316feab93b8a4c1);
            
        

        marker_4cf9031393d1774956406e509bd0e201.bindPopup(popup_ab8263f5f7a4967138f0b3e2098edf8c)
        ;

        
    
    
            marker_4cf9031393d1774956406e509bd0e201.bindTooltip(
                `<div>
                     Uttara Branch
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3a836a74a1e4d3f78acf2b5d48b2bf1e = L.marker(
                [23.8728568, 90.3984184],
                {}
            ).addTo(map_14a2231b5d5190061b1fb7f069f21d13);
        
    
            var icon_cbed49d9643e4b7074aefe8e5a39b5a0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "gift", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3a836a74a1e4d3f78acf2b5d48b2bf1e.setIcon(icon_cbed49d9643e4b7074aefe8e5a39b5a0);
        
    
        var popup_14b7cbe660ce20cced6f298d11ce099d = L.popup({"maxWidth": "100%"});

        
            
                var html_d07d872ade973dfeb70dfea305db37db = $(`<div id="html_d07d872ade973dfeb70dfea305db37db" style="width: 100.0%; height: 100.0%;">Uttara Branch</div>`)[0];
                popup_14b7cbe660ce20cced6f298d11ce099d.setContent(html_d07d872ade973dfeb70dfea305db37db);
            
        

        marker_3a836a74a1e4d3f78acf2b5d48b2bf1e.bindPopup(popup_14b7cbe660ce20cced6f298d11ce099d)
        ;

        
    
    
            marker_3a836a74a1e4d3f78acf2b5d48b2bf1e.bindTooltip(
                `<div>
                     Uttara Branch
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_25a698eacbb57fc5f25be404eb505894 = L.marker(
                [23.8679743, 90.3840879],
                {}
            ).addTo(map_14a2231b5d5190061b1fb7f069f21d13);
        
    
            var icon_9809ad23ecbdc5da4273b4c0499f3b8d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "gift", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_25a698eacbb57fc5f25be404eb505894.setIcon(icon_9809ad23ecbdc5da4273b4c0499f3b8d);
        
    
        var popup_344d70a109c19b60e109922718be968f = L.popup({"maxWidth": "100%"});

        
            
                var html_1ba73dd7078d7f56168e9fad6ce79ac2 = $(`<div id="html_1ba73dd7078d7f56168e9fad6ce79ac2" style="width: 100.0%; height: 100.0%;">City Bank Beside Uttara Diagnostic</div>`)[0];
                popup_344d70a109c19b60e109922718be968f.setContent(html_1ba73dd7078d7f56168e9fad6ce79ac2);
            
        

        marker_25a698eacbb57fc5f25be404eb505894.bindPopup(popup_344d70a109c19b60e109922718be968f)
        ;

        
    
    
            marker_25a698eacbb57fc5f25be404eb505894.bindTooltip(
                `<div>
                     City Bank Beside Uttara Diagnostic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c87782390da0a53d95676bc4242fb7f8 = L.marker(
                [23.8629078, 90.3816318],
                {}
            ).addTo(map_14a2231b5d5190061b1fb7f069f21d13);
        
    
            var icon_8307a6cc3b1e72c266eeae2f0a6ad4ea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "gift", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c87782390da0a53d95676bc4242fb7f8.setIcon(icon_8307a6cc3b1e72c266eeae2f0a6ad4ea);
        
    
        var popup_d8b559f2fb1ec7781ff4be5813a20925 = L.popup({"maxWidth": "100%"});

        
            
                var html_61766b5fafa47945ccd32930cf59cc21 = $(`<div id="html_61766b5fafa47945ccd32930cf59cc21" style="width: 100.0%; height: 100.0%;">City Bank Shaheed Sarani</div>`)[0];
                popup_d8b559f2fb1ec7781ff4be5813a20925.setContent(html_61766b5fafa47945ccd32930cf59cc21);
            
        

        marker_c87782390da0a53d95676bc4242fb7f8.bindPopup(popup_d8b559f2fb1ec7781ff4be5813a20925)
        ;

        
    
    
            marker_c87782390da0a53d95676bc4242fb7f8.bindTooltip(
                `<div>
                     City Bank Shaheed Sarani
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8d3d651a86049400e9861d0f0d4e2783 = L.marker(
                [23.8513998, 90.3944536],
                {}
            ).addTo(map_14a2231b5d5190061b1fb7f069f21d13);
        
    
            var icon_80130f46a78d43652ccda7c08aa236c9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "gift", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8d3d651a86049400e9861d0f0d4e2783.setIcon(icon_80130f46a78d43652ccda7c08aa236c9);
        
    
        var popup_2f1f46d74b96d57511067829e94cdb0e = L.popup({"maxWidth": "100%"});

        
            
                var html_afe52b02163b979d629405ab3f7a877e = $(`<div id="html_afe52b02163b979d629405ab3f7a877e" style="width: 100.0%; height: 100.0%;">City Bank Airport</div>`)[0];
                popup_2f1f46d74b96d57511067829e94cdb0e.setContent(html_afe52b02163b979d629405ab3f7a877e);
            
        

        marker_8d3d651a86049400e9861d0f0d4e2783.bindPopup(popup_2f1f46d74b96d57511067829e94cdb0e)
        ;

        
    
    
            marker_8d3d651a86049400e9861d0f0d4e2783.bindTooltip(
                `<div>
                     City Bank Airport
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_296a6497d61dee3fd5a349074caa6287 = L.marker(
                [23.8248938, 90.3549467],
                {}
            ).addTo(map_14a2231b5d5190061b1fb7f069f21d13);
        
    
            var icon_4eb6cc6de249a011a15eb2c24086637f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "gift", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_296a6497d61dee3fd5a349074caa6287.setIcon(icon_4eb6cc6de249a011a15eb2c24086637f);
        
    
        var popup_41876e41cdf85ce10cceb4683b5c09be = L.popup({"maxWidth": "100%"});

        
            
                var html_13a2c2ba8b40970d133ee88b1c0284be = $(`<div id="html_13a2c2ba8b40970d133ee88b1c0284be" style="width: 100.0%; height: 100.0%;">City Bank Pallabi</div>`)[0];
                popup_41876e41cdf85ce10cceb4683b5c09be.setContent(html_13a2c2ba8b40970d133ee88b1c0284be);
            
        

        marker_296a6497d61dee3fd5a349074caa6287.bindPopup(popup_41876e41cdf85ce10cceb4683b5c09be)
        ;

        
    
    
            marker_296a6497d61dee3fd5a349074caa6287.bindTooltip(
                `<div>
                     City Bank Pallabi
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_80c2d5c2e8e7cd1fcdde6d4ac17fc5be = L.marker(
                [23.8248293, 90.3551134],
                {}
            ).addTo(map_14a2231b5d5190061b1fb7f069f21d13);
        
    
            var icon_33b8bc68eb1010fe3bb8c880a024b665 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "gift", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_80c2d5c2e8e7cd1fcdde6d4ac17fc5be.setIcon(icon_33b8bc68eb1010fe3bb8c880a024b665);
        
    
        var popup_09c9141fd6d99e12d8ff7b82c52688e2 = L.popup({"maxWidth": "100%"});

        
            
                var html_4f2095c0b1d422aad53f1b1dfc7923e0 = $(`<div id="html_4f2095c0b1d422aad53f1b1dfc7923e0" style="width: 100.0%; height: 100.0%;">City Bank Mirpur 12</div>`)[0];
                popup_09c9141fd6d99e12d8ff7b82c52688e2.setContent(html_4f2095c0b1d422aad53f1b1dfc7923e0);
            
        

        marker_80c2d5c2e8e7cd1fcdde6d4ac17fc5be.bindPopup(popup_09c9141fd6d99e12d8ff7b82c52688e2)
        ;

        
    
    
            marker_80c2d5c2e8e7cd1fcdde6d4ac17fc5be.bindTooltip(
                `<div>
                     City Bank Mirpur 12
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8a2f1d9c351fee47346280eb6d4bf40c = L.marker(
                [23.813316, 90.4147498],
                {}
            ).addTo(map_14a2231b5d5190061b1fb7f069f21d13);
        
    
            var icon_7e95cd808f8e81cf6c880f68a98b2f4b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "gift", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8a2f1d9c351fee47346280eb6d4bf40c.setIcon(icon_7e95cd808f8e81cf6c880f68a98b2f4b);
        
    
        var popup_9fcd564e0d0052653bd0c4b3e9ca3f05 = L.popup({"maxWidth": "100%"});

        
            
                var html_e995620fe2d61ee70f60fae280c66697 = $(`<div id="html_e995620fe2d61ee70f60fae280c66697" style="width: 100.0%; height: 100.0%;">City Bank JFP</div>`)[0];
                popup_9fcd564e0d0052653bd0c4b3e9ca3f05.setContent(html_e995620fe2d61ee70f60fae280c66697);
            
        

        marker_8a2f1d9c351fee47346280eb6d4bf40c.bindPopup(popup_9fcd564e0d0052653bd0c4b3e9ca3f05)
        ;

        
    
    
            marker_8a2f1d9c351fee47346280eb6d4bf40c.bindTooltip(
                `<div>
                     City Bank JFP
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_17bdb4b81054691c9ec2f9f2e74ee22e = L.marker(
                [23.827149, 90.4106238],
                {}
            ).addTo(map_14a2231b5d5190061b1fb7f069f21d13);
        
    
            var icon_d848f5def2e4854f560755869f5eb193 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "gift", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_17bdb4b81054691c9ec2f9f2e74ee22e.setIcon(icon_d848f5def2e4854f560755869f5eb193);
        
    
        var popup_527aa75666a603974d7313d5b8785252 = L.popup({"maxWidth": "100%"});

        
            
                var html_7c53d61c0f61a5ca6c060f5822d3b8ea = $(`<div id="html_7c53d61c0f61a5ca6c060f5822d3b8ea" style="width: 100.0%; height: 100.0%;">City Bank Le Meridien</div>`)[0];
                popup_527aa75666a603974d7313d5b8785252.setContent(html_7c53d61c0f61a5ca6c060f5822d3b8ea);
            
        

        marker_17bdb4b81054691c9ec2f9f2e74ee22e.bindPopup(popup_527aa75666a603974d7313d5b8785252)
        ;

        
    
    
            marker_17bdb4b81054691c9ec2f9f2e74ee22e.bindTooltip(
                `<div>
                     City Bank Le Meridien
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0517606312032b1957b2a11632d683e9 = L.marker(
                [23.8330429, 90.4092871],
                {}
            ).addTo(map_14a2231b5d5190061b1fb7f069f21d13);
        
    
            var icon_61faf2a8a3a83c1e507904e185b105d7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "gift", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0517606312032b1957b2a11632d683e9.setIcon(icon_61faf2a8a3a83c1e507904e185b105d7);
        
    
        var popup_ca0733d82e0a83236a0fc6c254e51bdc = L.popup({"maxWidth": "100%"});

        
            
                var html_13394a715665f5f7191f0ab80a77e645 = $(`<div id="html_13394a715665f5f7191f0ab80a77e645" style="width: 100.0%; height: 100.0%;">City Bank Nikunja</div>`)[0];
                popup_ca0733d82e0a83236a0fc6c254e51bdc.setContent(html_13394a715665f5f7191f0ab80a77e645);
            
        

        marker_0517606312032b1957b2a11632d683e9.bindPopup(popup_ca0733d82e0a83236a0fc6c254e51bdc)
        ;

        
    
    
            marker_0517606312032b1957b2a11632d683e9.bindTooltip(
                `<div>
                     City Bank Nikunja
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_4b3a3b032d02fd6732f3b555e7042ab7 = L.polyline(
                [[23.8728568, 90.3984184], [23.8728568, 90.3984184], [23.8679743, 90.3840879], [23.8629078, 90.3816318], [23.8513998, 90.3944536], [23.8248938, 90.3549467], [23.8248293, 90.3551134], [23.813316, 90.4147498], [23.827149, 90.4106238], [23.8330429, 90.4092871]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": "5", "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_14a2231b5d5190061b1fb7f069f21d13);
        
</script>
</html>